# dependencies
frontend/node_modules
backend/__pycache__
backend/*.pyc
backend/.venv
backend/venv
frontend/mockups3

# testing
frontend/coverage

# production
frontend/build
frontend/.next/

# misc
.DS_Store
.env
.env.local
.env.*.local
.env.example

# IDE
.idea/
*.swp
*.swo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
